@import "../mixins.scss";

@include respond(phone){
    .blog-div{
        background-color: #eee;
        padding:10%
        

    }
    .blog-card{
        border-radius: 15px;
        // box-shadow: ;
        // background-color: olive;
        padding:5%;
        margin-bottom:3%;
    }



}
