@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@media (min-width: 0em) and (max-width: 37.5em) {
  body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #carousel-image {
    height: 20rem;
    width: 100%;
    -webkit-filter: opacity(50%);
            filter: opacity(50%);
  }
  #carousel-text {
    position: absolute;
    top: 11rem;
    text-align: center;
    width: 100%;
    font-family: 'Alfa Slab One', cursive;
    z-index: 5;
    position: absolute;
    color: #383838;
    font-size: .8rem;
    letter-spacing: .25rem;
  }
  #uppercase {
    font-size: 2.3rem;
  }
  #carousel-button {
    margin-top: 7%;
    border: 2px solid;
  }
  #carousel-button:hover {
    outline: none;
    border: 0px;
  }
}

@media (min-width: 37.6em) and (max-width: 56.7em) {
  #carousel-image {
    height: 25rem;
    width: 100%;
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
  }
  #carousel-text {
    top: 11rem;
    text-align: center;
    width: 100%;
    font-family: 'Alfa Slab One', cursive;
    z-index: 5;
    position: absolute;
    color: #383838;
    font-size: 1.2rem;
    letter-spacing: .5rem;
  }
  #uppercase {
    font-size: 2.6rem;
  }
  #carousel-button {
    margin-top: 7.8%;
    border: 2.2px solid;
    width: 12rem;
    height: 2.5rem;
  }
  #carousel-button:hover {
    outline: none;
    border: 0px;
  }
}

@media (min-width: 56.71em) and (max-width: 75em) {
  #carousel-image {
    height: 27rem;
    width: 100%;
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
  }
  #carousel-text {
    top: 11rem;
    text-align: center;
    width: 100%;
    font-family: 'Alfa Slab One', cursive;
    z-index: 5;
    position: absolute;
    color: #383838;
    font-size: 1.9rem;
    letter-spacing: .7rem;
  }
  #uppercase {
    font-size: 3rem;
  }
  #carousel-button {
    margin-top: 7.8%;
    border: 2.2px solid;
    width: 12.4rem;
    height: 2.7rem;
  }
  #carousel-button:hover {
    outline: none;
    border: 0px;
  }
}

@media (min-width: 75.1em) and (max-width: 112.5em) {
  #carousel-image {
    height: 90vh;
    width: 100%;
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
  }
  #carousel-text {
    top: 22rem;
    text-align: center;
    width: 100%;
    font-family: 'Alfa Slab One', cursive;
    z-index: 5;
    position: absolute;
    color: #383838;
    font-size: 7rem;
    letter-spacing: 1.9rem;
  }
  #carousel-heading {
    font-size: 3rem;
  }
  #uppercase {
    font-size: 4.6rem;
  }
  #carousel-button {
    margin-top: 4%;
    border: 2.2px solid;
    width: 13rem;
    height: 3.7rem;
    font-size: 1.2rem;
    letter-spacing: .7rem;
  }
  #carousel-button:hover {
    outline: none;
    border: 0px;
  }
}

@media (min-width: 112.6em) {
  #carousel-image {
    height: 90vh;
    width: 100%;
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
  }
  #carousel-text {
    top: 20rem;
    text-align: center;
    width: 100%;
    font-family: 'Alfa Slab One', cursive;
    z-index: 5;
    position: absolute;
    color: #383838;
    font-size: 7rem;
    letter-spacing: 2.2rem;
  }
  #carousel-heading {
    font-size: 4rem;
  }
  #uppercase {
    font-size: 5.6rem;
  }
  #carousel-button {
    margin-top: 4%;
    border: 2.2px solid;
    width: 13.4rem;
    height: 4rem;
    font-size: 1.3rem;
    letter-spacing: .5rem;
  }
  #carousel-button:hover {
    outline: none;
    border: 0px;
  }
}
/*# sourceMappingURL=carousel.css.map */