@import "../mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@include respond(phone){
    .divToBeFlexed{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 13rem;
        width: 100%;
        background-color: whitesmoke;
        text-align: center;


        .forest-content{
            text-align: center;
            font-family: 'Alfa Slab One', cursive;
            flex: 3;
            // border: 3px solid whitesmoke;
            display: flex;
            flex-wrap: nowrap;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            
            color:#4E944F;
            // C7D36F
            .content{
                // border: 3px solid whitesmoke;
                padding: 1.5rem;
                box-shadow: 10px 10px 30px  5px #4E944F;
                border-radius: 30px;
                display: flex;
                flex-direction: column; 
                flex-wrap: nowrap;
                // align-items: stretch;
                // justify-items: auto;
                justify-content: space-between;
                align-items: center;
                justify-content: center;

                #forest-content-button{
                    font-size: .5rem;
                    letter-spacing: .15rem;
                    // width: 3rem;
                    width: 40%;
                    text-align: center;
                }
                #forest-h3{
                    font-size:.6rem ;
                }

            }
            #forest-header{
               
                font-size:1rem;
            }

        }
        .forest-image{
            height: inherit;
            display: flex;
            justify-content:center;
            align-items: center;
            flex-wrap: nowrap;
            flex:1;
        //    
            #forest-image-image{
                background-size: cover;
                height: 6rem;
                width: 70%;
                // filter: grayscale(100%);
                // border: 3px solid whitesmoke;
                border-radius: 100%;
                box-shadow :3px 3px 20px  #4E944F;
            }
            // @keyframes 
        }
    }
    // .divToBeFlexed div{
    //     margin-top: auto;
    //     transform:translateY(-60%);
    // }


}

@include respond(tab-potrait){
    .divToBeFlexed{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 18rem;
        width: 100%;
        background-color: white;
        justify-content: space-evenly;
        text-align: center;


        .forest-content{
            text-align: center;
            font-family: 'Alfa Slab One', cursive;
            flex: 2;
            // border: 3px solid whitesmoke;
            display: flex;
            flex-wrap: nowrap;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            
            color:black;
            .content{
                // border: 3px solid whitesmoke;
                padding: 1.5rem;//See to it
                box-shadow: 10px 10px 30px  5px black;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                // align-items: stretch;
                // justify-items: auto;
                justify-content: space-between;
                align-items: center;
                justify-content: center;

                #forest-content-button{
                    font-size: .5rem;
                    letter-spacing: .15rem;
                    // width: 3rem;
                    width: 40%;
                    text-align: center;
                }
                #forest-h3{
                    color:black;
                    font-size:.6rem ; //See to it
                }
                #forest-header{
               
                font-size:1rem; //
                }
            }
            

        }
        .forest-image{
            height: inherit;
            display: flex;
            justify-content:center;
            align-items: center;
            flex-wrap: nowrap;
            flex:2;
        //    
            #forest-image-image{
                background-size: cover;
                height: 6rem;
                width: 70%;
                // filter: grayscale(100%);
                // border: 3px solid whitesmoke;
                // border-radius: 100%;
                box-shadow :3px 3px 20px  whitesmoke;
            }
            // @keyframes 
        }
    }
}
@include respond(tab-landscape){
    .divToBeFlexed{
        display: flex;
        flex-direction: row;
    }
}

@include respond(laptop){
    .divToBeFlexed{
        display: flex;
        flex-direction: row;
    }

}
@include respond(desktop){
    .divToBeFlexed{
        display: flex;
        flex-direction: row;
    }

}
