@import "../mixins.scss";

@include respond(phone){
    .trial{
        height:5rem;
    }
   
    .navbar-brand{
        @include centerText();
        // border:3px solid;
    }
    #navbar-brand-icon{
       height: 55px; 
       width: calc(height*3.45);
    }
    

}
@include respond(tab-potrait){
    .trial{
        height: 5.6rem;
    }
    .navbar-brand{
        @include centerText();

    }
    #navbar-brand-icon{
        height: 60px;
        width:calc(height*3.45);
    }

}
@include respond(tab-landscape){
    .trial{
        height: 5.7rem;
    }
    .navbar-brand{
        @include centerText();
    }
    #navbar-brand-icon{
        height: 63px;
        width: calc(height*3.45);
    }

}
@include respond(laptop){
    .trial{
        align-items: center;
        justify-items: center;
        height:6rem;
    }
    .navbar-brand{
        @include centerText();

    }
    #navbar-brand-icon{
        height: 75px;
        // margin-top: .4%;
        width: calc(height*3.45);
    }

 
}

@include respond(desktop){
    .trial{
        height: 6.3rem;

    }
    .navbar-brand{
        @include centerText();
    }
    #navbar-brand-icon{
        height:80px;
        width: calc(height*3.45);
        border: 5px;
    }

}  